### 需要忽略的文档在这里声明通过*来表示忽略 ###
### 以斜杠 “/” 开头表示跟目录，放在末尾表示跟目录以及子目录下的所有该文件夹； ###
### 以星号 “*” 通配多个字符； ###
### 以问号 “?” 通配单个字符； ###
### 以方括号 “[]” 包含单个字符的匹配列表； ###
### 以叹号 “!” 表示不忽略(跟踪)匹配到的文件或目录； ###

！HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
