<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mike.mapper.UserMapper">
    <sql id="criteria">
        <if test="name != null">
            and name = #{name}
        </if>
        <if test="email!= null">
            and email = #{email}
        </if>
    </sql>
<!--    resulttype 和resultmap的区别：-->
<!--    resultType：设置默认的映射关系-->
<!--    resultMap：设置自定义映射关系-->

    <resultMap id="resultMap" type="com.mike.bean.User">
<!--        主键通过id,其他的普通属性字段通过result来进行映射-->
        <id property="id" column="id"/>
        <result property="id" column="id" />
        <result property="username" column="username"/>
        <result property="creationDate" column="creation_date"/>
<!--        多对一-->
<!--        <association property="" javaType="">-->
<!--            <id></id>-->
<!--            <result></result>-->
<!--        </association>-->
<!--        设置分布查询，通过select来设置分布查询语句，fetchType是当开启全局延迟加载时可以设置加载模式-->
<!--        <association property=""-->
<!--                     select=""-->
<!--                     column=""-->
<!--                     fetchType="eager"-->
<!--        ></association>-->
<!--        一对多-->
<!--        <collection property="" ofType="">-->
<!--            <id property="" column=""></id>-->
<!--            <result property="" column=""></result>-->
<!--        </collection>-->
    </resultMap>

    <sql id="base_Column_list">
        id,username,age
    </sql>

    <sql id="insert_column_list">
        #{id},#{username}
    </sql>

    <sql id="table">
        user
    </sql>
<!--    useGeneratedkeys:设置当前标签中的sqL使用了自增的主键-->
<!--    keyProperty:将自增的主键的值赋值给传输到映射文件中参数的某个属性-->
    <insert id="test1" useGeneratedKeys="true" keyProperty="id">
        insert into<include refid="table"/>  (<include refid="base_Column_list"/>)
        values (<include refid="insert_column_list"/>)
    </insert>
    <select id="selectAll" resultType="com.mike.bean.User">
        select * from
        <include refid="table"/>
        <!--       <where>-->
        <!--            <include refid="criteria"/> and id=-->
        <!--       </where>-->

    </select>

    <select id="test" parameterType="list">
        select
        <include refid="base_Column_list"/>
        from
        <include refid="table"/>
        where id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
             #{item}
        </foreach>

<!--        where -->
<!--        <foreach collection="list" item="item" index="index" open="" close="" separator="or">-->
<!--            id = #{item}-->
<!--        </foreach>-->
    </select>
    <select id="selectByIds" resultType="com.mike.bean.User">
        select * from
        <include refid="table"/>
        <where>
            <foreach collection="list" item="item" index="index" separator="or" open="(" close=")">
                id=#{item}
            </foreach>
        </where>
    </select>
</mapper>