<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ebookpavilion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:include="pages/commimp::commonhead">

<!--    记得写上type属性-->
<!--    <script  th:type="txt/script" src="../static/js/meta-common1.0.0/practice01.js">-->

<!--        alert("hello js1!");-->
<!--    </script>-->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.4.0.js"></script>
    <script th:type="txt/script" th:src="/practice01.js">

        $(function () {

            //最后删除改成了函数
            var deleteRow =function (event) {
                //确定删除的哪一行
                var $deleteTrObj =$(this).parent().parent();
                var msg=$deleteTrObj.find("td:first").text();
                if (confirm("are you sure do you want to delete this?["+msg+"]")) {
                    alert("cust ok"+event);
                    console.log(event);
                    $deleteTrObj.remove();
                }else {

                    alert("cancel");
                }
                return false;
            }
            $("#jquery").click(function () {

                //通过id和name获取值
                //id->$("#username").val();
                //name->$("input[name='username']").val();
                //获取值
                var name=$("input[name='username']").val();
                var email=$("input[name='mail']").val();
                var age=$("input[name='age']").val();
                //alert(name+email+age);
                //放入值，到时候可以改成后台
                var $trObj=$("<tr>"+
                    "<td>"+name+"</td>"+
                    "<td>"+email+"</td>"+
                    "<td>"+age+"</td>"+
                    "<td><a href=\"delete?id=0\">delete</a></td>"+
                    "</tr>");

                $trObj.appendTo($("#emptb"));

                // //给添加的行a标签绑定上事件
                $trObj.find("a").click(deleteRow);
                // $trObj.find("a").click(function (){
                //     //确定删除的哪一行
                //     var $deleteTrObj =$(this).parent().parent();
                //     var msg=$deleteTrObj.find("td:first").text();
                //     if (confirm("are you sure do you want to delete this?"+"["+msg+"]")) {
                //         alert("cust ok");
                //         $deleteTrObj.remove();
                //     }else {
                //
                //         alert("cancel");
                //     }
                //     return false;
                // });
            });


            $("a").click(deleteRow);
            // $("a").click(function () {
            //
            //     //确定删除的哪一行
            //     var $deleteTrObj =$(this).parent().parent();
            //     var msg=$deleteTrObj.find("td:first").text();
            //     if (confirm("are you sure do you want to delete this?"+"["+msg+"]")) {
            //         alert("cust ok");
            //         $deleteTrObj.remove();
            //     }else {
            //
            //         alert("cancel");
            //     }
            //     return false;
            // });


            $("#showBig").hide();

            $("#small").bind("mouseover mouseout mousemove",function (event) {
                if (event.type=="mouseover"){
                    $("#showBig").show();
                }else if(event.type=="mouseout"){
                    $("#showBig").hide();
                }else if (event.type=="mousemove"){
                    console.log(event.offset);
                    $("#showBig").offset({
                        left:event.pageX+20,
                        top:event.pageY+30
                    });
                }
            })
        });


    </script>

    <style>
        table{
            border-collapse: collapse; /* Remove cell spacing */
        }
        table, th, td{
            border: 1px solid #666;
        }
        table th, table td {
            padding: 10px; /* Apply cell padding */
        }
        #smallDiv{
            /*align-items: center;*/
            /*align-self: center;*/
            /*align-content: center;*/
            text-align: center;
        }
        /*tr{*/
        /*    border: 1px solid;*/
        /*}*/
        /*td{*/
        /*    border: 1px solid;*/
        /*}*/
    </style>

</head>
//onload事件是浏览器解析页面之后自动触发的函数而且是最后
<!--<body onload="onloadfun()">-->
<body >
    <h1>mike,欢迎你！</h1>

    <form action="/login" enctype="multipart/form-data" method="get">
        姓名:<input name="username" value="mike" id="username"/><br/>
        密码:<input name="psw" value="123456"/><br/>
        年龄:<input name="age" value="23"/><br/>
        邮箱:<input name="mail" value="232343"/><br/>

        <input type="submit" >提交
    </form>
    <div class="container-fluid bottom-right">右下角</div>
    <button type="button"  id="test1" class="test1">测试</button>
    <button type="button"  id="create" class="cratebtn">创建测试</button>
    <button type="button"  id="jquery" class="">JQuery测试</button>

    <table id="emptb" style="align-items: center;text-align:center;width: 300px;border:1px solid;">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>age</th>
            <th></th>
        </tr>
        <tr>
            <td>小王</td>
            <td>高数</td>
            <td>98</td>
            <td><a href="">删除</a></td>
        </tr>
        <!-- 第2行 -->
        <tr>
            <td>小深</td>
            <td>高数</td>
            <td>86</td>
            <td> <a href="">删除</a></td>
        </tr>
        <!-- 第2行 -->
        <tr>
            <td>小濛</td>
            <td>高数</td>
            <td>65</td>
            <td><a href="">删除</a></td>
        </tr>
    </table>

    <div id="smallDiv">
        <img   id="small" src="../static/images/19shuxie3x.png"  style="align-self:center;">
    </div>
    <div id="showBig" style="width: 200px; height: 200px;">

        <img src="../static/images/montain.jpg" style="align-self:center; width: 600px; height:370px;">
    </div>

    <div class="modal fade" id="modal_signout" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="max-width:350px;margin: auto;" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>您好！ overnight</h4>
                    <p style="color: #ff473a">确认要退出当前登录吗？</p>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
    