<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ebookpavilion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--    <link th:include="pages/commimp::commonhead">-->

<!--    记得写上type属性-->
    <script  th:type="txt/script" src="../static/js/meta-common1.0.0/practice01.js">

        alert("hello js1!");
    </script>

    <script th:type="txt/script" th:src="../practice01.js">

        alert("hello javascript1!");
    </script>
</head>
<body>
    <h1>mike,欢迎你！</h1>

    <form action="/login" enctype="multipart/form-data" method="get">
        姓名:<input name="username" value="mike"/><br/>
        密码:<input name="psw" value="123456"/><br/>
        年龄:<input name="age" value="23"/><br/>
        邮箱:<input name="mail" value="232343"/><br/>

        <input type="submit">提交
    </form>
    <div class="container-fluid bottom-right">右下角</div>

    <div class="modal fade" id="modal_signout" tabindex="-1" role="dialog">
        <div class="modal-dialog" style="max-width:350px;margin: auto;" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4>您好！ overnight</h4>
                    <p style="color: #ff473a">确认要退出当前登录吗？</p>
                </div>
                <div class="box-body text-right">
                    <button type="button" class="but mr10" data-dismiss="modal">取消</button>
                    <a type="button" class="but c-red"
                       href="https://jrjpc.com/wp-login.php?action=logout&amp;redirect_to=https%3A%2F%2Fjrjpc.com&amp;_wpnonce=00882298d0">确认退出</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="pages/commimp::commonsrc"></div>
</body>
</html>