<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>table</title>

    <link th:include="pages/commimp::head">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.4.0.js"></script>
    <script src="https://unpkg.com/vue@next"></script>

    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>

    <script type="text/javascript" th:inline="javascript">



        $(function () {

            var vue=new Vue({
                "el":"#vuediv",
                data:{
                    msg:"痛并快乐着",
                    gsm:"",
                    uname:"mi",
                    text: {
                        name: "mi",
                        age: 18
                    },
                    array:[1,2,3,4]
                },
                methods:{
                    myReverse:function (e) {
                        this.gsm=this.msg.split("").reverse().join("");
                    }
                },
                watch:{
                    //watch监听器，只能监听第一次，
                    //也就是在监听对象的时候，虽然对象中的属性值发生了改变
                    //但对象的首地址没有改变，所以监听器认为没有改变数据
                    //当想要监听对象的时候，想要开启深度监听
                    //deep:true
                    text: {
                        handler:function () {
                            alert('监听到了')
                        },
                        deep:true
                    },
                    uname:function (newData,oldData) {
                        this.msg+=oldData+newData;
                    }
                }
            });


            //最后删除改成了函数
            var deleteRow =function (event) {
                //确定删除的哪一行
                var $deleteTrObj =$(this).parent().parent();
                var msg=$deleteTrObj.find("td:first").text();
                if (confirm("are you sure do you want to delete this?["+msg+"]")) {
                    alert("cust ok"+event);
                    console.log(event);
                    $deleteTrObj.remove();
                }else {

                    alert("cancel");
                }
                return false;
            };
            $("#jquery").click(function () {

                //通过id和name获取值
                //id->$("#username").val();
                //name->$("input[name='username']").val();
                //获取值
                var name=$("input[name='username']").val();
                var email=$("input[name='mail']").val();
                var age=$("input[name='age']").val();
                //alert(name+email+age);
                //放入值，到时候可以改成后台
                var $trObj=$("<tr>"+
                    "<td>"+name+"</td>"+
                    "<td>"+email+"</td>"+
                    "<td>"+age+"</td>"+
                    "<td><a href=\"delete?id=0\">delete</a></td>"+
                    "</tr>");

                $trObj.appendTo($("#emptb"));

                // //给添加的行a标签绑定上事件
                $trObj.find("a").click(deleteRow);
                // $trObj.find("a").click(function (){
                //     //确定删除的哪一行
                //     var $deleteTrObj =$(this).parent().parent();
                //     var msg=$deleteTrObj.find("td:first").text();
                //     if (confirm("are you sure do you want to delete this?"+"["+msg+"]")) {
                //         alert("cust ok");
                //         $deleteTrObj.remove();
                //     }else {
                //
                //         alert("cancel");
                //     }
                //     return false;
                // });
            });


            $("a").click(deleteRow);
            // $("a").click(function () {
            //
            //     //确定删除的哪一行
            //     var $deleteTrObj =$(this).parent().parent();
            //     var msg=$deleteTrObj.find("td:first").text();
            //     if (confirm("are you sure do you want to delete this?"+"["+msg+"]")) {
            //         alert("cust ok");
            //         $deleteTrObj.remove();
            //     }else {
            //
            //         alert("cancel");
            //     }
            //     return false;
            // });


            $("#showBig").hide();

            $("#small").bind("mouseover mouseout mousemove",function (event) {
                if (event.type=="mouseover"){
                    $("#showBig").show();
                }else if(event.type=="mouseout"){
                    $("#showBig").hide();
                }else if (event.type=="mousemove"){
                    console.log(event.offset);
                    $("#showBig").offset({
                        left:event.pageX+20,
                        top:event.pageY+30
                    });
                }
            });
            // jquery 页面跳转
            // $(location).attr('href',"http://www.baidu.com");
            // 使用JavaScript实现跳转
            // window.location.href = "http://stackoverflow.com";
            $("#userbyname").click(function () {
                // alert("user search!");
                $(location).attr('href',"http://localhost:8080/userbyname?action=users&username=mike");
            });

            $("#submitbtn1").click(function () {
                // alert("formdata before");
                var formdata = new FormData($("#fileForm")[0]);
                // // formarr=$("#fileForm").serializeArray();
                // // var formdata = $("#fileForm")[0];

                // alert("fomatdata after="+formdata.get("username"));
                // alert("fomatdata file="+formdata.get("file"));
                // alert("file"+$("#file").file[0]);

                if (formdata.get("username")!=null){
                    // alert("异步请求开始了");
                    axios({
                        url: '/userbyname',
                        method: 'post',
                        data: formdata
                    }).then(res => {
                        // alert("return res="+res);
                        // alert("return data="+res.data);
                        if (res.data.code == 200) {
                            alert(res.data.message)
                            window.location.href = "/toBook";
                        } else if (res.data.code == 201) {
                            alert(res.data.message)
                            // alert("注册失败！原因已经存在数据库当中了，请直接登录");
                        } else if (res.data.code == 202) {
                            alert(res.data.message)
                        }
                        // alert(res.data.code);
                    }).catch(err => {
                        console(err.data);
                    });

                }


            });
            
            $("#attri").click(function () {

                // alert("request="+[[${#request.getClass().getName()}]]);
                alert("request="+[[${#request.getContextPath()}]]);
                alert("request="+$("#request").getContextPath());

            });

        });

        var jsonObj={
            "name":"mike",
            "age":18,
            "lucky":true,
            "hobby":[4,true,"pe","math","technic"],
            "lounge":"uy"
        }


    </script>

<!--    <style>-->
<!--        table{-->
<!--            border-collapse: collapse; /* Remove cell spacing */-->
<!--        }-->
<!--        table, th, td{-->
<!--            border: 1px solid #666;-->
<!--        }-->
<!--        table th, table td {-->
<!--            padding: 10px; /* Apply cell padding */-->
<!--        }-->
<!--        #smallDiv{-->
<!--            /*align-items: center;*/-->
<!--            /*align-self: center;*/-->
<!--            /*align-content: center;*/-->
<!--            text-align: center;-->
<!--        }-->
<!--        /*tr{*/-->
<!--        /*    border: 1px solid;*/-->
<!--        /*}*/-->
<!--        /*td{*/-->
<!--        /*    border: 1px solid;*/-->
<!--        /*}*/-->
<!--    </style>-->

</head>

<body class="">
<div class="header-section">
    <!-- header section start-->
    <div th:replace="pages/commhead::commnav"></div>
    <!-- header section end-->
</div>

<!-- main content start-->
<div class="main-content">
<!--    action="/userbyname"-->
<!--    enctype="multipart/form-data"-->
    <form  action="/userbyname" enctype="multipart/form-data" method="post" id="fileForm">
        <input type="hidden" name="action" value="upload">
        姓名:<input name="username" value="mike" id="username"/><br/>
        密码:<input name="psw" value="123456"/><br/>
        年龄:<input name="age" value="23"/><br/>
        邮箱:<input name="mail" value="232343"/><br/>
        文件：<input type="file" name="file" id="file">
        <input type="submit" id="submitbtn">提交
    </form>

    <button type="button"  id="test1" class="test1">测试</button>
    <button type="button"  id="attri" class="attri">属性测试</button>
    <button type="button"  id="jquery" class="">addtable测试</button>
    <button type="button"  id="userbyname" class="">跳转user</button>

    <div class="container-fluid bottom-right">右下角</div>
    <div id="vuediv">
        <span>{{msg}}</span></br>
<!--        双向绑定-->
        <!--        <input th:type="text" v-bind:value="uname">-->
        <!--        <input th:type="text" :value="uname">-->
        <input th:type="text"  v-model:value="uname" v-on:click="myReverse">
        <span>{{uname}}</span>
        <span>{{gsm}}</span>

    </div>

    <table id="emptb" style="align-items: center;text-align:center;width: 300px;border:1px solid;">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>age</th>
            <th></th>
        </tr>
        <tr>
            <td>小王</td>
            <td>高数</td>
            <td>98</td>
            <td><a href="">删除</a></td>
        </tr>
        <!-- 第2行 -->
        <tr>
            <td>小深</td>
            <td>高数</td>
            <td>86</td>
            <td> <a href="">删除</a></td>
        </tr>
        <!-- 第2行 -->
        <tr>
            <td>小濛</td>
            <td>高数</td>
            <td>65</td>
            <td><a href="">删除</a></td>
        </tr>

    </table>

    <div id="smallDiv"  class="center-block" th:align="center">
        <img id="small" src="images/19shuxie3x.png" style="align-self:center;">
    </div>
    <div id="showBig" style="width: 200px; height: 200px;">

        <img src="images/montain.jpg" style="align-self:center; width: 600px; height:370px;">
    </div>



        <!--body wrapper start-->
        <div class="wrapper">


        </div>
        <!--body wrapper end-->

    </div>
    <!-- main content end-->

    <!--common scripts for all pages-->
    <div th:insert="pages/commimp::scrallpages"></div>


</body>
</html>


