<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/html">
<head>

    <title>登陆</title>
    <link th:include="/pages/commimp::head">

    <script type="text/javascript" th:inline="javascript">
        $(document).ready( function () {
            $("#btnLogin").click(function (){
                var formdata=new FormData($("#formin")[0]);

                // alert("btnLogin");
                // alert("出现了"+formdata.get(name));
                axios({
                    url:'/login',
                    method:'post',
                    data:formdata
                }).then(res=>{
                    if (res.data.code==200){
                        alert(res.data.message)
                        window.location.href='/';
                    }else if (res.data.code==201){
                        alert(res.data.message)
                    }else if (res.data.code==202){
                        alert(res.data.message)
                    }
                }).catch(err=>{
                    console(err.data);
                })
            });
        });


    </script>
</head>

<body class="login-body">

<div class="container">

    <form class="form-signin" id="formin">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">登录</h1>
            <img style="width: 100px;height: 100px;" src="images/book.png" alt=""/>
        </div>
        <div class="login-wrap">

            <span class="form-control" style="font-size: 12px;
            color: #d43f3a;text-align: center;" th:text="${warnmsg}"></span>

<!--            存在的问题是第一次进来的因为没有cookie导致对应标签不会显示。-->
            <input type="text" name="username" class="form-control" th:each="cookie:${#request.cookies}"
                   th:if="${cookie.getName().equals('username')}" th:value="${cookie.getValue()}"
                   placeholder="用户名">

            <input type="text" name="email" class="form-control"  placeholder="邮箱" autofocus>

            <input type="password" name="password" class="form-control" placeholder="密码">

            <button id="btnLogin" class="btn btn-lg btn-login btn-block" type="button">
                <i class="fa fa-check"></i>
            </button>

            <div class="registration">
                还没有账号?
                <a class="" href="/toRegister" >
                    去注册
                </a>
            </div>
            <label class="checkbox">
                <input type="checkbox" th:name="rememberme" th:each="cookie:${#request.cookies}"
                       th:if="${cookie.getName().equals('rememberme')}" th:checked="${cookie.getValue()}"  value="remember-me"> 记住密码
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> 忘记密码?</a>

                </span>
            </label>

        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal"
             class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">忘记了密码 ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>输入您的电子邮件地址重新设置您的密码.</p>
                        <input type="text" name="####" placeholder="邮箱" autocomplete="off"
                               class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
                        <button class="btn btn-primary" type="button">提交</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

    </form>

</div>
<!--common all pages-->
<div th:insert="pages/commimp::scrallpages"></div>

</body>
</html>
