<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>websocket</title>
    <link th:include="pages/commimp::head">
    <!--    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>-->
    <!-- import Vue.js -->
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>

    <script type="application/javascript">
        let ws;
        var ipPort = window.location.host;
        var sessions = sessionStorage;
        let url;


        function connect() {
            // alert("点击了connect!")
            console.log(this.sessions)
            // console.log(this.sessions.getItem(""))
            url = "ws://" + ipPort + "//chatting";
            url = "ws://" + ipPort + "//chat";
            let username = document.getElementById("username").value;
            let tousername = document.getElementById("tousername").value;
            if (username == "" || tousername == "") {
                if (!confirm("连接用户不能为空,是否继续！"))
                    return;
            }
            url += "/6339?fromUser=" + username + "&toUser=" + tousername;
            // 检查浏览器是否支持websocket
            if (typeof (WebSocket) == "undefined") alert("你的浏览器不支持websocket 服务请查证！");
            ws = new WebSocket(url);
            ws.onmessage = function (e) {
                // alert(e.data)
                console.log(e)
                console.log(e.data)
                printMessage(e.data);
            }
            document.getElementById("connectButton").disabled = true;
            document.getElementById("connectButton").value = "Connected";
            document.getElementById("username").disabled = true;
        }

        function printMessage(data) {
            let messages = document.getElementById("messages");
            let messageData = JSON.parse(data);
            let newMessage = document.createElement("div");
            // newMessage.innerHTML = data;
            newMessage.innerHTML = messageData.username + " : " + messageData.message;
            messages.appendChild(newMessage);
        }

        function sendToGroupChat() {
            let messageText = document.getElementById("message").value;
            document.getElementById("message").value = "";
            let username = document.getElementById("username").value;
            let messageObject = {
                username: username,
                message: messageText
            }
            // alert(JSON.stringify(messageObject))
            ws.send(JSON.stringify(messageObject));
            printMessage(JSON.stringify(messageObject));
        }
    </script>

    <script type="text/javascript" th:inline="javascript">
        var user =/*[[${session.user}]]*/{}

        $(function (event) {
            var vue = new Vue({
                "el": "#vuepagesize",
                data: {
                    pageSize: 2
                }
            });
            $("#pageSize").change(function (event) {
                // alert("value"+$("#pageSize").val());
                // alert("value="+[[${page.totalPage}]]);
                var pageSize = 1;
                if ($("#pageSize").val() < 1) {
                    $("#pageSize").val(1);
                } else if ($("#pageSize").val() > [[${page.totalPage}]]) {
                    $("#pageSize").val([[${page.totalPage}]]);
                }
                pageSize = $("#pageSize").val();
            });

        });

    </script>

</head>

<body class="">

<!-- header section start-->
<!--<div th:replace="pages/commhead::commnav"></div>-->
<!-- header section end-->


<!--    content begin -->
<div class="main-content">
    <!-- page heading start-->

    <!-- page heading end-->
    <div class="wrapper ">

        <div class="directory-info-row">
            <!--            书籍开始循环显示-->
            <input type="text" id="username">
            <input id="connectButton" type="button" value="Connect" onclick="connect()">
            <input type="text" id="tousername">
            <div id="messages"></div>
            <input type="text" id="message">
            <input type="button" value="send" onclick="sendToGroupChat()">


        </div>
    </div>
</div>


<!--common all pages-->
<div th:insert="pages/commimp::scrallpages"></div>

</body>
</html>





